/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    color: #ededed;
    background-color: rgb(0, 0, 0);
}


/* -----------HOME--------- */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar ul li{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar ul li a{
    color: #fff;
}

.navbar a:hover,
.navbar a.active{
    color: #00ffe5;
    border-bottom: 3px solid rgb(0, 255, 229);
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-size: 200px;
    padding: 50px 20% 0;
    
    
}

.home img{
    position: relative;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    box-shadow:0 0 25px #00ffe5;
}

.home img:hover{
    box-shadow: 0 0 25px rgb(0, 255, 229),0 0 50px #00ffe5,0 0 100px #00ffe5;
}

.home-content{
    max-width: 600px;
    line-height: 50px;
    margin-left: -70px; 
}

.home-content .btn{
    border: 2px solid #00ffe5;
    color: #000000;
    background-color: #00ffe5;
    border-radius: 30px;
    box-shadow: 0 0.5px 25px #00ffe5;
    padding:10px 20px;
    width: 170px;
    height: 20px;

}

.home-content .download a{
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: .5s;
}

.home-content a:hover{
    box-shadow: 0 0 5px #00ffe5, 0 0 35px #00ffe5;
}



.home-content:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 span{
    color: #00ffe5;
}

.home-content h3{
    font-size: 32px;
    font-weight: 500;
    opacity: 0;
    animation: slideTBottom .5s ease forwards;
    animation-delay: .7s;
}




.home-content p{
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-bottom: 10px;
}

.navbar .fa-solid{
    display: none;
}

@media (width < 900px){

    .navbar .fa-bars{
        position: absolute;
        right: 25px;
        top: 15px;
    }
    
    .navbar .fa-solid{
        display: block;
        font-size: 25px;
    }

    .navbar ul {
        background-color: #00ffe5;
        position: fixed;
        top: 0;
        right: -180px;
        width: 180px;
        height: 100vh;
        color: #000000;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    
    }

    .navbar ul li{
        display: block;
        margin: 20px;
        color: #000000;
    }

    .navbar ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 22px;
        cursor: pointer;
    }

    .navbar ul li a{
        color: #000000;
    }
   
}


@media (width < 900px){

    .header .logo{
        font-size: 16px;
    }
    .header{
        font-size: 24px;
        display: block;
        
    }

    .home-content{
        line-height: 30px;
        margin-left: 0;
        margin-top: 20px;
    }

    .home-content .btn{
        /* display: block;
        height: 10px; */
        padding: 5px;
        /* width: 80px; */
        font-size: 10px;
    }

    .home{
        display: block;
        font-size: 24px;
    }

    .home img{
        height: 170px;
        width: 170px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .home-content h1{
        font-size: 28px;
    }
    .home-content h3{
        font-size: 22px;
    }

}


@media (width < 900px){
    .home{
        width: 100%;
    }

}



/* -----------ABOUT ME--------- */



#about{
   height: 100%;
   font-size: 30px;

}

.about-main{
    display: inline-block;
    padding: 30px;
    width: 70%;
    margin-left: 230px;
    height: 90vh;
    border-radius: 30px;
    border: 7px solid #00ffe5;
    margin-top: 55px;
  
}

.about{
    margin-bottom: 50px;
}


.about-heading h1{
    font-size: 50px;
    text-align: center;
    
}

.about-heading h1 span{
    margin-left: 20px;
    color: #00ffe5;
    
}

.about p{
    font-size: 22px;
    margin-top: 15px;
  
}

.education h2{
    margin-top: 30px;
    color: #00ffe5;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    font-size: 24px;
   
}

.education h4{
    font-size: 24px;
    margin-top: 20px;
}


.education p{
    font-size: 20px;
    line-height: 15px;
}

.about .two{
    display: flex;
}


.title{
    margin-top: 30px;
    margin-left: 80px;
    color: #00ffe5;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-align: center;
    font-size: 24px;
  
   
}

.hobby li{
    font-size: 22px;
    margin-left: 80px;
    margin-top: 20px; 
     font-size: 20px;
     /* list-style: none; */
    
}

.strengths li{
    font-size: 22px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
    /* list-style: none; */
}


 @media (width < 900px){
    .about{
        margin-left: 30px;
        margin-right: 20px;
      }

    .about-heading h1{
        font-size: 26px;
    }

    .title {
        font-size: 16px;
    }
    .hobby li{
        font-size: 14px;
    }

    .education h2{
        font-size: 16px;
    }

    .education h4{
        font-size: 14px;
    }

    .about p{
        font-size: 14px;
    
    }

    .about-main{
        height: 100%;
        width: 100%;
        margin-left: 0;
        
    }
} 


/* -----------SERVICES---------*/


.container{
    padding: 100px;
}
#services{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    /* margin-left: 20px; */
}


.services h1{
    margin-bottom: 60px;
}

.sub-title{
    text-align: center;
    font-size: 50px;
    padding-bottom: 60px;
}

.sub-title span{
    color: #00ffe5;
}

.services-list h2{
    color: #00ffe5;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 14px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #00ffe5;
}


.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 140px;
}

.services-list div .fa-code{
    margin-left: 120px;
}

.services-list div .para{
    color: #00ffe5;
    margin-top: 10px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3s;
    text-align: center;
}

.services-list div p{
    font-size: 17px;
}


.services-list div:hover{
    transform: translateY(-10px);
   
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes  slideTBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes  slideTBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* ---------SKILLS------- */



.sec{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}


.my-skill{
    margin-bottom: 100px;
}
.sub-title1{
    margin-bottom: -300px;
    /* margin-top: 50px; */
}
.container1{
    /* margin-bottom: -100px; */
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}


.heading1{
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    margin-bottom: 30px;
    margin-top: 70px;
}


.bar{
    font-size: 22px;
   
}

.technical-bars .bar{
   margin-top: 40px 0;
}


.technical-bars .bar :first-child{
    margin-top: 0;
}

.technical-bars .bar :last-child{
    margin-bottom: 15px;
}

.technical-bars .bar .info{
    margin-bottom: 5px;
}

.technical-bars .bar .info span{
    font-size: 18px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    margin: 0;
}


.technical-bars .bar .progress-line{
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #463f3f;
  animation: animate 1s  cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #00ffe5;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}

.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 85%;
}
.progress-line.javascript span{
    width: 90%;
}
.progress-line.react span{
    width: 50%;
}
.progress-line.python span{
    width: 60%;
}
.progress-line.figma span{
    width: 90%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background: #00ffe5;
    color: #000000;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation:showText 0.5s 1.5s linear forwards ;
    opacity: 0;
}

.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "85%";
}
.progress-line.javascript span::after{
    content: "90%";
}
.progress-line.react span::after{
    content: "50%";
}
.progress-line.python span::after{
    content: "60%";
}
.progress-line.figma span::after{
    content: "90%";
}


.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#00ffe5 ;
    top: -12px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

@media (width < 800px){
    .container1{
        margin-left: 0;
    }

    .extra{
        margin-top: 100px;
    }
}


.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
    
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}


.radial-bars .radial-bar .text{
     margin-left: -55px;
}
.radial-bars .radial-bar .progress-line{
    stroke-width: 10;
    stop-color: #463f3f;
    fill: #463f3f;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
/* #2effea
#00ffe5
#00d8c2 */

.path{
    stroke-width: 10;
    stroke: #00ffe5;
    fill: #96f4ea32;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
   
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 30;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 80;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 80;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 125;;
    }
}

.radial-bar .percent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 18px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}

@media (width < 900px){
    .sub-title{
        margin-top: -60px;
    }
}

@media (width < 600px){
    
}


/* ---------PORTFOLIO------- */

.fourth{
    height: 100vh;
    
}

.portfolio{
    width: 100%;
   
}

.main-text{
    padding-top: 80px;
    margin-top: 180px;

}

.main-text h2{
    font-size: 50px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
}

.main-text h2 span{
    color: hsl(174, 100%, 50%);
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    margin: 30px;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px;

}

.row img{
    margin-top: 50px;
    width: 100%;
    height: auto;
    border-radius: 7px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#00ffe5);
    position: absolute;
    border-radius: 7px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    transition: height 0.5s;
}

.layer h5{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}


.layer p{
    color: #000000;
    font-size: 1rem;
    line-height: 1.8;
   
}

.layer i{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}


.row:hover .layer{
    height: 100%;
}



@media (width < 900px){
    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px, 200px));
      
    }

    .fourth{
        height: auto;
    }
}


/* ---------CONTACT------- */


.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    /* margin-top: 200px; */

}

.contact .fa-brands, .fa-solid{
    margin-right: 15px;
}

.contact-text h2{
    font-size: 70px;
    line-height: 1;
    text-align: center;
    margin-bottom: 150px;
    margin-top: -150px;
}


.contact-text h2 span{
    color: #00ffe5;
}

.contact-text h4{
    /* margin: 15px 0; */
    margin-top: -80px;
    color: #ededed;
    font-size: 20px;
    font-weight: 600;
    margin-left: 70px;
}

.contact-text p{
    color: #ededed;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
    margin-left: 15px;
   
    
}

.contact-list li a{
    color: #fff;
}

.contact-list a {
    margin-left: 60px;
}

.contact-list i{
    display: inline-block;
    color: #00ffe5;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
  
}



.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #00ffe5;
}

.contact-form form{
    position: relative;
}

.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #575050;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background-color: #00ffe5;
  border-radius: 40px;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #00ffe5, 0 0 15px #00ffe5;
  margin-top: 10px;
}

.contact-form form .send:hover{
    box-shadow: 0 0 5px #00ffe5, 0 0 25px #00ffe5 , 0 0 50px #00ffe5;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #575050;
    font-weight: 300;
    margin-top: 70px;
    color: #000000;
}

.top{
    position: fixed;
    bottom: 0.5rem;
    right: 2.1rem;
   
}

.top i{
    color: #000000;
    background-color: #00ffe5;
    padding: 10px;
    border-radius: 0.5rem;

 
}

@media (width < 900px){

    .contact{
        margin-top: 150px;
    }
    .contact h2{
        font-size: 50px;
    }

    .contact-text p,.contact-text h4{
        margin-left: 0;
    }
    .contact .fa-brands, .fa-solid{
        margin-left: 0;
    }
    .contact-list a {
        margin-left: 0;
    }
    .contact {
        margin-top: 70px;
    }
}

@media (width < 900px){

}